.page-header {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid $border;
}

.page-header__title {
  margin: 15px 0;
  font-size: 30px;
  letter-spacing: 1px;
}

.page-header__text {
  margin: 15px 0;
  font-size: 20px;
}
